/build
fabric.properties.txt
google-services.json
Trakr-keystore.jks
/src/main/res/values/fabric_api.xml
/src/main/res/values/google_maps_api.xml
/src/main/res/values/instabug_token.xml
/src/free/res/values/admob_api.xml